includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 0

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
